<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @judge.name %>
</p>

<p>
  <b>Event:</b>
  <%= @judge.event_id %>
</p>


<%= link_to 'Edit', edit_judge_path(@judge) %> |
<%= link_to 'Back', judges_path %>
