<h1>Listing score_sheets</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Judge</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @score_sheets.each do |score_sheet| %>
  <tr>
    <td><%= score_sheet.event_id %></td>
    <td><%= score_sheet.judge_id %></td>
    <td><%= link_to 'Show', score_sheet %></td>
    <td><%= link_to 'Edit', edit_score_sheet_path(score_sheet) %></td>
    <td><%= link_to 'Destroy', score_sheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Score sheet', new_score_sheet_path %>
